@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  background-color: #E4D9FF;
  color: #273469;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  display: flex;
  border: 1px solid #1E2749;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  word-wrap: break-word;
}

.todo-prop {
  font-size: 1.25rem;
}

#main-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#todo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 70vh;
  width: 75%;
}

a {
  color: #FAFAFF;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  background-color: #30343F;
  color: #FAFAFF;
}

nav {
  display: flex;
  gap: 20px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 25%;
  gap: 20px;
  border: 4px double #1E2749;
  padding: 20px;
  word-wrap: break-word;
}


input, textarea{
  display: block;
  margin: 10px 0px;
}

input[type="text"], input[type="password"], textarea {
  border: none;
  border-radius: 5px;
  background-color : #FAFAFF; 
  color: #273469;
}

textarea {
  resize: none;
  height: 50px
}


.add-todo-header {
  margin: .25rem;
}

.material-symbols-outlined {
  cursor: pointer;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 4px double #1E2749;
  width: 25%;
  margin: 30px auto;
  padding: 20px;
}

.error-msg {
  color: red;
}

.error {
  border: 1px solid red;
}

/* CSS for buttons */

button, input[type="submit"] {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid #E4D9FF;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover, input[type="submit"]:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled, input[type="submit"]:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active, input[type="submit"]:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus, input[type="submit"]:focus {
  outline: 1px transparent;
}



@media only screen and (max-width: 600px) {
  .login-register-form {
    width: 75%;
  }

  #main-container {
    flex-wrap: wrap;
    gap: 20px
  }

  .todo {
    width: 75%;
  }

  .add-todo-form {
    width: 75%;
    height: fit-content;
  }

  .navbar {
    justify-content: space-between;
    font-size: 1rem;
    padding: 0 10px;
  }

  nav {
    flex-direction: column;
    gap: 5px
  }

  #todo-container {
    display: block;
    height: auto;
  }
}

